name: Refresh URLs and Notify Telegram

on:
  schedule:
    - cron: '0 */2 * * *'  # 每两小时运行一次
  workflow_dispatch:

jobs:
  refresh-urls:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Refresh URLs
      run: |
        urls=("http://xn--mpus5ehyb.us.kg/api.php/timming/index.html?enforce=1&name=hw8" "https://xn--mpus5ehyb.us.kg/api.php/timming/index.html?enforce=1&name=%E8%87%AA%E5%8A%A8%E9%87%87%E9%9B%86" "https://xn--mpus5ehyb.us.kg/api.php/timming/index.html?enforce=1&name=liangzi")  # 替换为你的 URL 列表
        for url in "${urls[@]}"; do
          curl -s "$url" > /dev/null
          sleep 10
        done

    - name: Send Telegram Notification
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: |
        STATUS="URLs refreshed successfully"
        curl -s -X POST "https://api.telegram.org/bot$TELEGRAM_TOKEN/sendMessage" \
          -d chat_id="$TELEGRAM_CHAT_ID" \
          -d text="$STATUS"
